h1 {
  text-align: center;
}

ul {
  padding: 0px 0px 0px 0px;
}

.first {
  background-color: rgb(235, 200, 84);
  font-size: 20px;
  height: 50px;
  text-align: center;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  list-style: none;  
}

.second {
  background-color: rgb(219, 219, 219);
  font-size: 20px;
  height: 50px;
  text-align: center;
  width: 300px;
  margin-left: 350px;
}

.third {
  background-color: rgb(170, 142, 106);
  font-size: 20px;
  height: 50px;
  text-align: center;
  width: 300px;
}

.podio li {
  display: inline-block;
}

.premiacao h3 {
  text-align: center;
}

.premiacao ul li {
  display: inline-block;
}

.premiacao ul li:nth-child(odd) {
  margin-left: 350px;
}
