body {
    font-size: 16px;
    text-align: center;
}
h1 {
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
}

ul {
    text-decoration: underline;
    background-color:cyan;
    font-style: italic
}

.p-ul {
    background-color:gold;
    font-size: 30px;
    line-height: 50px;                
}

p {
    font-weight: 600;
    font-size: 3em;
}

#amarelo {
    background-color: yellow;
}

#vermelho {
    background-color: red;
}

#marrom {
    background-color: brown;
}